.header {
	background-color: #5f9ea0;
	position: fixed;
	width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5rem;
	height: 5rem;
	z-index: 10;
}
.header a {
	text-decoration: none;
	color: #fff;
}
.header-item {
	display: flex;
}

@media (max-width: 767px) {
	.header {
		padding: 0 3rem 0 0.5rem;
	}
}
