.toolSet-wrap {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	position: relative;
	z-index: -1;
	gap: 100px;
}
.toolSet-wrap h3 {
	color: #5f9ea0;
	text-decoration: underline #5f9ea0;
	font-weight: 300;
	font-size: 1rem;
}
.toolSet-item {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 0 3rem 0;
}
@media (max-width: 767px) {
	.toolSet-wrap {
		width: 90%;
	}
}
.isError {
	color: red;
}
